<div class="collapse" id="collapseYr1">
    <div class="card card-body">
      <!-- ? Year 1 sub -->
      <h2><%= sem.sem %></h2>
      <h2>Theory Subjects</h2>

      <div id="accordion">
        <% sem.subjects.theorySubjects.forEach(subject => { %>
         <%- include('subject.ejs', {subject: subject}) %>
         <% }) %>
      </div>

      
      <h2>Practical Subjects</h2>
      <div id="accordion">
        <% sem.subjects.practicalSubjects.forEach(subject => { %>
         <%- include('subject.ejs', {subject: subject}) %>
            <% console.log(subject.code); %>
         <% }) %>
      </div>


    </div>
  </div>