<% console.log(year.year.replaceAll(' ', '-')); %>
<p class="yrbtn">
    <a class="btn btn-outline-info btn-lg" data-toggle="collapse" href="#collapse<%= year.year.replaceAll(' ', '-') %>" role="button"
      aria-expanded="false" aria-controls="collapse<%= year.year.replaceAll(' ', '-') %>">
      <%= year.year %>
    </a>
  </p>
  
  <% year.sems.forEach(sem => { %>
    <%- include('sem.ejs', {sem: sem, yr: year.year.replaceAll(' ', '-')}) %>
    <% }) %>

